.form {
  max-width: 1100px;
  height: 628px;
  background-color: $grey;
  margin: 0 auto 120px;
  box-sizing: border-box;
  padding: 60px;
  @include flex-short(center, column);

  @include tablet {
    width: 92%;
    height: 611px;
    padding: 30px 119px;
    margin-bottom: 70px;
  }

  @include mobile {
    width: 94%;
    height: 614px;
    padding: 20px;
  }
}
