.gallery__image {
  width: 350px;
  height: 709px;
  margin-right: 25px;

  @include tablet {
    width: 226px;
    height: 461px;
    margin-right: 15px;
  }

  @include mobile {
    width: 260px;
    height: 522px;
    margin-right: 0;
  }
}

.gallery__image:last-of-type {
  margin-right: 0;
}
