.card__text {
  max-width: 1103px;
  @include font-style("Inter-Semi-Bold", 600, normal, 60px, 68px);
  color: $black;
  margin: 120px auto;

  @include tablet {
    width: 84%;
    margin: 70px auto;
    font-size: 33px;
    line-height: 37px;
  }

  @include mobile {
    width: 81%;
    margin: 94px auto 70px;
    font-size: 26px;
    line-height: 32px;
  }
}
