@mixin flex($justify, $align, $direction, $wrap) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
  flex-wrap: $wrap;
}

@mixin flex-short($align, $direction) {
  display: flex;
  align-items: $align;
  flex-direction: $direction;
}

@mixin font-style($font-family, $font-weight, $font-style, $font-size, $line-height) {
  font-family: $font-family;
  font-weight: $font-weight;
  font-style: $font-style;
  font-size: $font-size;
  line-height: $line-height;
}

@mixin grid($grid-columns, $grid-rows, $column-gap, $row-gap) {
  display: grid;
  grid-template-columns: $grid-columns;
  grid-template-rows: $grid-rows;
  grid-column-gap: $column-gap;
  grid-row-gap: $row-gap;
}

@mixin placeholder {
  &::-webkit-input-placeholder { @content; }
  &:-moz-placeholder           { @content; }
  &::-moz-placeholder          { @content; }
  &:-ms-input-placeholder      { @content; }
}

@mixin tablet {
  @media (max-width: $tablet) {
    @content;
  }
}

@mixin tablet-two {
  @media (max-width: $tablet-two) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}
