.header__title {
  @include font-style("Inter-Bold", 700, normal, 60px, 69px);
  color: $white;
  margin: 60px 0 28px;

  @include tablet {
    margin: 50px 0 20px;
    font-size: 33px;
    line-height: 37px;
  }
  @include mobile {
    margin-bottom: 14px;
    font-size: 24px;
    line-height: 29px;
  }
}
